
h1 {
    color: green;
}

#dummy_h3 {
    color: red;
}

table {
    width: 300px;
    border: 1px solid green;
    border-collapse: collapse;
}

tr {
    border:none;
}

td{
    border: none;
}

.myClass {
    color: red;
}

#error_screen {
    color: red;
}

tr:nth-child(even) {
    background: #90EE90
}

tr:nth-child(odd) {
    background: #FFF
}

