
h1 {
    color: green;
}

#dummy_h3 {
    color: red;
}

table {
    width: 300px;
    border: 1px solid green;
    border-collapse: collapse;
}

tr, td {
    border: none;
}

select {
    background-color: transparent;
}

.myClass, #message_screen {
    color: red;
}

tr:nth-child(even) {
    background: #90EE90
}

tr:nth-child(odd) {
    background: #FFF
}

form label {
    display: inline-block;
    width: 70px;
}

.error {
    color: red;
    /*margin-left: 5px;*/
}

label.error {
    display: inline;
}

